/**
 *
 * @author          liuzhaohui
 * @contact         Email: hi.liuzhaoxin@gmail.com, QQ: 50081449, QQqun: 30715306
 *
 * -----------------------------
 * Happy Coding
 *
**/

@charset "utf-8";

div.toolbar-button-wrap
{
		margin-right: 16px;
		padding-top: 6px;
		float: left;
}

div.toolbar-button
{
		display: inline-block;
		background-color: #F5F5F5;
		border: 1px solid #DCDCDC;
		border-radius: 2px 2px 2px 2px;
		color: #444444;
		height: 27px;
}

span.toolbar-icon
{
		background: url("../images/toolbar.png") no-repeat transparent;
		position: absolute;
		display: inline-block;
		height: 21px;
		width: 21px;
		top: 3px;
		left: 15px;
		
		opacity: 0.55;
		filter: Alpha(opacity=55);	
}

div.toolbar-button-focus span.toolbar-icon
{
		opacity: 0.9;
		filter: Alpha(opacity=90);
}

div.toolbar-button-focus
{
		border: 1px solid #C5C5C5;
}

div.toolbar-text
{
		font-size: 14px;
		font-weight: bold;
		line-height: 26px;
		text-align: center;
		width: 54px;
}

div.toolbar-release
{
		background-color: #D14836;
		color: #FFF;
		border: 1px solid transparent;
}

div.toolbar-button-focus.toolbar-release
{
		background-color: #C53727;
}

div.toolbar-select, 
div.toolbar-refresh, 
div.toolbar-delete, 
div.toolbar-backtrack, 
div.toolbar-tags, 
div.toolbar-pass
{
		width: 54px;
		position: relative;
}

span.toolbar-select-border
{
		display: inline-block;
		position: absolute;
		border: 1px solid #C2C2C2;
		border-radius: 1px 1px 1px 1px;
		height: 11px;
		left: 20px;
		top: 7px;
		width: 11px;
}

span.toolbar-select-background
{
		display: inline-block;
		height: 15px;
		position: absolute;
		width: 15px;
}

span.toolbar-select-background-click
{
		background: url("../images/checkmark.png") no-repeat -5px -5px transparent;
}

span.toolbar-select-background-minus
{
		background: url("../images/checkmark-partial.png") no-repeat -5px -5px transparent;
}

span.pass-icon
{
		background: url("../images/toolbar-pass.png") no-repeat 2px 2px transparent;
}

span.refresh-icon
{
		background-position: -63px -21px;
}

span.delete-icon
{
		background-position: -63px -42px;
}

span.backtrack-icon
{
		background-position: 0 -42px;
}

span.tags-icon
{
		background-position: -21px -42px;
}

div.toolbar-pages
{
		padding-top: 6px;
		float: right;
		color: #444444;
		font-size: 14px;
		position: relative;
		display: none;
}

div.toolbar-pages-info
{
		line-height: 27px;
		height: 27px;
		margin-right: 14px;
		float: left;
}

div.toolbar-pages-info b
{
		margin: 0 4px;
}

span.pages-prev-icon
{
		background-position: -21px -21px;
		left: 7px;
}

span.pages-next-icon
{
		background-position: -42px -21px;
		left: 7px;
}


div.toolbar-disable .pages-prev-icon, 
div.toolbar-disable .pages-next-icon
{
		opacity: 0.33;
		filter: Alpha(opacity=33);
}

div.toolbar-pages-prev, 
div.toolbar-pages-next
{
		position: relative;
		width: 34px;
}

div.toolbar-pages .toolbar-button-wrap
{
		margin-right: 0;
		padding-top: 0;
}
